<html>
<head>
  <title>美丽日志-统计信息</title>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
</head>
<body>
<table border="1">
  <tr>
    <th>安装数量</th>
    <th>日期</th>
  </tr>    
    <% for summary in @summaries %>
      <tr><td><%= summary.num %></td><td><%= summary.inst_date %></td></tr>
    <% end %>
</table>

</body>
</html>
  